.highlighted{
    color:red;
}
.second{
    font-size: 48px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: blue;
}

.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 10px;
}

.name {
    line-height: 1.6;
    margin: 0 20px;
}

.background{
    background-color: ghostwhite;

}

.user-card {
    display: flex;
    align-items: center;
    padding: 10px 0px;
}